@*@model IEnumerable<JopPortalMVC.Models.ArticlePinedTbl>*@
@{int UserIdData = 0; }

<h3>H4</h3>
@foreach (var item in Model.ArticlePinnedDetails)
{
    <div class="row">
        <div class="col-md-9">
            @item.RowId

            @item.UserId

            @item.PinedArticleId
        </div>
    </div>

    UserIdData = item.UserId;
}
