@{
    ViewData["Title"] = "Work Post";
    Layout = null;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link href="https://formden.com/static/cdn/bootstrap-iso.css" rel="stylesheet" />

<link rel="stylesheet" href="~/css/SignUp.css">
<div class="container">
    <div class="form-wrap">
        <header>
            <h1>Work Details</h1>
        </header>
        <form asp-controller="Home" asp-action="WorkPost">
            <div id="Container1">
                <div id="WorkDiv0">
                    <div class="form-group">
                        <label for="CompanyName">Organization Name</label>
                        <input id="CompanyName" name="CompanyName" placeholder="Organization Name" required />
                    </div>
                    <div class="form-group">
                        <label for="WorkedFrom">Worked From</label>
                        <input id="WorkedFrom" name="WorkedFrom" type="number" placeholder="Worked From 2010" required />
                    </div>
                    <div class="form-group">
                        <label for="WorkedTill">Worked Till</label>
                        <input id="YearOfStart" name="YearOfStart" type="number" placeholder="Worked Till 2019" required />
                    </div>
                    <div class="form-group">

                    </div>
                    <hr align="center" width="85%" style="height:2px;border-width:0;color:gray;background-color:gray" />
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-success">Next</button>
        </form>
        <button class="btn btn-block" id="addWork">Add More</button>
        <button class="btn btn-block" id="removeWork">Remove</button>
    </div>
</div>

<script>
    document.getElementById('addWork').onclick = duplicateWork;
    document.getElementById('removeWork').onclick = removeduplicateWork;

    var i = 0;
    function duplicateWork() {
        var original = document.getElementById('WorkDiv' + i);

        var clone = original.cloneNode(true);

        clone.id = "WorkDiv" + ++i;
        original.parentNode.appendChild(clone);
        $("#WorkDiv" + i).find('input').val(' ');
    }
    function removeduplicateWork() {

        var list = document.getElementById('WorkDiv' + i).remove();
        i -= 1;
    }
</script>
@*<h1>Work Details</h1>
    <form asp-action="WorkPost" id="Test">
        <div id="Container1">

            <input id="WorkId" name="WorkId" type="hidden" value="1" />

            <input id="CompanyName" name="CompanyName" type="text" required />

            <input id="WorkedFrom" name="WorkedFrom" type="number" required />

            <input id="WorkedTill" name="WorkedTill" type="number" required />
        </div>
        <button class="btn btn-block" onclick="AddWork()">Add More</button>
        <button class="btn btn-block" onclick="RemoveWorkDetails()">Remove</button>

        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
        <script>
            var WorkListNumber = 1;
            var EducationListNumber = 1;

            function AddWork() {

                WorkListNumber += 1;
                var breakNode = document.createElement("br");
                breakNode.className = "Work" + WorkListNumber.toString();

                var input7 = document.createElement("input");
                input7.type = "hidden";
                input7.name = "WorkId";
                input7.value = WorkListNumber.toString();
                input7.className = "Work" + WorkListNumber.toString();

                var input8 = document.createElement("input");
                input8.type = "text";
                input8.name = "CompanyName";
                input8.setAttribute('required', '');
                input8.className = "Work" + WorkListNumber.toString();

                var input9 = document.createElement("input");
                input9.type = "number";
                input9.name = "WorkedFrom";
                input9.setAttribute('required', '');
                input9.className = "Work" + WorkListNumber.toString();

                var input10 = document.createElement("input");
                input10.type = "number";
                input10.name = "WorkedTill";
                input10.setAttribute('required', '');
                input10.className = "Work" + WorkListNumber.toString();

                var container = document.getElementById('Container1');
                Container1.appendChild(breakNode);
                Container1.appendChild(input7);
                Container1.appendChild(input8);
                Container1.appendChild(input9);
                Container1.appendChild(input10);
            }
            function RemoveWorkDetails() {
                $("input").remove(".Work" + WorkListNumber);
                $("br").remove(".Work" + WorkListNumber);
                WorkListNumber -= 1;
            }
        </script>*@
